services:
  aspire.dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest

  template.api:
    image: ${DOCKER_REGISTRY-}template.api
    build:
      context: .
      dockerfile: src/Services/Template.Api/Dockerfile

  gateway.api:
    image: ${DOCKER_REGISTRY-}gateway.api
    build:
      context: .
      dockerfile: src/Gateway/Api/Dockerfile

